@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'HypotheticalmoonofMercury';
  src: url('/fonts/HypotheticalmoonofMercury.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nebula {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: 200s scroll infinite linear;
}
.menu a.active {
  color: theme('colors.steelblue');
}

#hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: translate(0, -5px) rotate(45deg);
}

#fullpage {
  display: none;
  position: absolute;
  z-index: 60;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: relative;
  top: 0;
  left: 0;
  .react-player__shadow {
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 300px;
    background: rgb(0, 0, 0, 0.7) !important;
    border-radius: unset !important;
    border: 2px solid theme('colors.red');
    @media (min-width: 375px) {
      min-height: 250px;
      min-width: 375px;
    }
    @media (min-width: 768px) {
      min-height: 325px;
      min-width: 500px;
    }
  }
}

@-webkit-keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}
@-moz-keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}
@-o-keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}
@-ms-keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}
@keyframes scroll {
  100% {
    background-position: 3000px 0px;
  }
}
